* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.custom-button {
    height: 50px;
    width: 200px;
    margin: 64px;
    line-height: 50px;
    border-radius: 4px;
    font-weight: 700;
    border: none;
    text-align: center;
    color: white;
    background-color: coral;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    cursor: pointer;
}

.bird-icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    fill: white;
}

.custom-button:hover {
    color: darkcyan;
}

.custom-button:hover > .bird-icon {
    fill: green;
}