.textSize24 {
    font-size: 24px;
}

.textColorGreen {
    color: green;
}

.textColorOrange {
    color: orange;
}

.inline {
    display: inline-block;
}

.block {
    display: block;
    width: 200px;
    height: 100px;
    background-color: yellow;
}