* {
    box-sizing: border-box;
}

.square {
    height: 100%;
    width: 100%;
    background-color: coral;
}



/* Квадрату задайте ширину и высоту по 100px. Фон - coral.
Двигаться он должен сначала круг по часовой стрелке (4s), потом обратно против часовой (4s)
Траектория движения - квадрат 300х300px.
Цвет квадрата должен плавно меняться в процессе движения

coral - левый верхний угол
cornflowerblue - правый верхний угол
aqua - правый нижний угол
yellowgreen - левый нижний угол
 */