* {
    box-sizing: border-box;
}

table {
    margin: 16px;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    height: 50px;
    width: 50px;
    text-align: center;
}

tr:not(:last-of-type):not(:first-of-type):nth-child(even) 
td:not(:last-of-type):not(:first-of-type):nth-child(odd) {
    border: 1px solid black;
    background-color: black;
}

tr:not(:last-of-type):not(:first-of-type):nth-child(odd) 
td:not(:last-of-type):not(:first-of-type):nth-child(even) {
    border: 1px solid black;
    background-color: black;
}

tr:not(:last-of-type):not(:first-of-type):nth-child(even) 
td:not(:last-of-type):not(:first-of-type):nth-child(even) {
    border: 1px solid black;
}

tr:not(:last-of-type):not(:first-of-type):nth-child(odd) 
td:not(:last-of-type):not(:first-of-type):nth-child(odd) {
    border: 1px solid black;
}