* {
  box-sizing: border-box;
}

.mountains {
  height: 470px;
  width: 300px;
  padding-top: 32px;
  font-size: 32px;
  font-weight: 700;
  color: white;
  text-align: center;
  background-image: url(./img/nature.jpeg);
  background-position: center;
  background-size: cover;
}