* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

.properties-list__item {
  padding: 8px;
  line-height: 32px;
  font-size: 24px;
  color: #f39;
}

/* Задайте всему документу размер шрифта 18px
Задайте элементам списка цвет текста #f39, размер шрифта 24px, высоту строки 32px и внутренние отступы 8px
Уберите точки перед элементами списка */