* {
    box-sizing: border-box;
}

.block {
    display: flex;
    flex-grow: 1;
    min-height: 200px;
}

.navigation {
    background-color: #ff7f50;
}

.products-list {
    background-color: #006400;
}

.news {
    background-color: #0ff;
}

.text {
    margin: auto;
    padding: 4px;
    border-radius: 4px;
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #faebd7;
}

@media screen and (min-width: 600px) {
    .products {
        display: flex;
        flex-grow: 2;
    }
}

@media screen and (min-width: 899px) {
    .content {
        display: flex;
    }
}